@charset "utf-8";

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: #000000;
	color: #aaaaaa;
	overflow: hidden;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #d4d4d4;
}
a:hover { color: #d4d4d4; }

#container {
	background-color: #000000;
	background-image: url('img/ledbg.png');
	overflow: hidden;
	box-sizing: border-box;
}

#blinder, #blinker {
	background-image: url('img/ledbg.png');
	box-sizing: border-box;
	position: relative;
	opacity: 0;
}

#blinder { z-index: 10; }
#blinker {  z-index: 6; }

img, canvas {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#mover {
	position: relative;
	left: 0;
	top: 0;
}

#container canvas {
	position: relative;
	display: block;
	left: 0;
	top: 0;
}

#blinkchar {  z-index: 4; }
#ticker    {  z-index: 8; }

#before_desc {
	height: 0;
	border: none;
}

/* Blink Animation */
@keyframes blinking {
	  0%  { opacity: 0; }
	 45%  { opacity: 0; }
	 50%  { opacity: 1; }
	 95%  { opacity: 1; }
	100%  { opacity: 0; }
}

.blinking {
	animation-name: blinking;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}