@charset "utf-8";

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: #000000;
	color: #aaaaaa;
}

#container {
	background-color: #000000;
	background-image: url('img/ledbg.png');
	overflow: hidden;
	box-sizing: border-box;
}

img, canvas {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#container canvas {
	display: block;
	position: relative;
	left: 0;
	top: 0;
}
